*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(65, 63, 63);
}
header{
    margin:0.5rem;
    display: flex;
    justify-content: center;
}
.rect{
    background-color: rgba(117, 113, 113,0.50);
    color:#fff;
    padding:1rem;
    border-radius: 0.3rem;
}
.display{
    margin:2rem;
    display:flex;
    justify-content: center;
}

